<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/through.css" /> -->
    <title>VideoBook</title>
</head>
<body onload="document.forms['searchquery'].submit()">
<!-- <body> -->
    <h6></h6>
    <form action="/submit" method="POST" name="searchquery">
        <input type="hidden" name="searched" value="<%=searched%>" class="form-control" placeholder="Search">
    </form>
    <!-- <div class="loader"></div> -->
</body>
</html>